* {
    font-family: sans-serif;
}

body {
    position: absolute;
    overflow: hidden;
    top: 25%;
    left: 35%;
    width: 400px;
    background-color: black;
}

h1{
    text-align: center;
    color: white;
    margin: 35px;
    padding-right: 40px;
    font-size: 30px;
}
input{
    display: block;
    margin: 20px;
    border-radius: 7px;
    padding-left: 10px;
    height: 30px;
    width: 300px;
    color: white;
}
label{
    color: white;
    padding-left: 50px;
}
.checkbox{
    size: 10px;
    padding: 50%;

}
button{
    height: 38px;
    width: 20vh;
    margin: 15px;
    padding-left: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #CA512B;
    color: white;

}
.Signup_link{
    margin: 10px ;
    padding-left: 70px;
    color: white;
}
.Signup_link a{
    color: #CA512B;
    text-decoration: none;
    font-size: 20px;
}
